# Check with: desktop-file-validate t/data/AppInfo.desktop

[Desktop Entry]
Name[en_US]=directory-list
Name[nl]=folder-lijst
Name=directory-list

GenericName[en_US]=directory-list
GenericName[nl]=folder-lijst
GenericName=directory-list

Comment[en_US]=Make a directory listing
Comment[nl]=Maak een folder lijstje
Comment=Make a directory listing

Type=Application
Exec=ls %f

Icon=format-list-ordered
MimeType=text/plain

Path=/tmp
StartupNotify=true
Categories=X-Gnome;Graphics;

Actions=Fullist;


[Desktop Action Fullist]
Exec=ls -la %f
Name=Full-directory-list
