[Desktop Entry]
Comment[en_US]=Test used by AppInfo.t
Comment=Testjes voor AppInfo.t
Encoding=UTF-8
Exec=ls -la %f
GenericName[en_US]=information-test
GenericName=informatie-testje
Icon=gcr-key
MimeType=text/x-yaml
Name[en_US]=itest
Name=itestje
Path=/tmp
StartupNotify=false
